@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono');
@import url('https://fonts.googleapis.com/css?family=Satisfy');
@import url('https://fonts.googleapis.com/css?family=Roboto:300');

body{
    padding-left: 100px;
    margin:0px;
}
header{
    background-image: url(huntington.png);  
    background-position: right top;
    padding: 60px;
    
}
h1{
    text-align: center;
    text-transform: uppercase; 
    font-family: 'roboto', sans-serif;
    color: white;
    text-shadow:2px 2px black;
    
    
}
#zen-summary a{
    color: black
}
h2{
    text-align: center;
    font-family: 'satisfy', cursive;
    color: white;
    font-size: 14px;
    
}
p{
    font-family:'IBM Plex Mono', monospace;
    font-size: 14px;
    width: 100%;
    
    
    

}
h3{
    font-weight: normal;
    font-family: 'IBM Plex Mono', monospace;
    
}
#zen-participation, #zen-benefits{
    background-color: rgb(93, 128, 93);
    padding-left: 100px;
    
    
    color: white;
    padding:20px;
}
#zen-participation a, #zen-benefits a{
    color: black;}

    #zen-participation h3, #zen-benefits h3{
        color:black}

#design-selection h3{
    font-size: 0px;
}
#design-archives h3{
    font-size: 0px;
}
#zen-resources h3{
    font-size: 0px;
}


#zen-requirements [role= "contentinfo"] {
    background-color:rgb(111, 151, 111);
    color: rgb(90, 90, 90);
    
    font-size: 23px;
    text-align: center;
    margin:0px;
    
    
    
    
}
#zen-requirements [role= "contentinfo"] a {
    color: white;
    font-family: 'satisfy', cursive;
    font-size: 44px;
    text-decoration: none;

}
#zen-requirements a {
    color: black;
   
}


footer {
    text-align: center;
    background-color: rgb(48, 71, 48);
    padding: 40px;
    
    
}
footer a{
    color: white;
    font-size: 40px;
    word-spacing: 30px;
    text-decoration: none;
}
ul{
    list-style-type: none;
    text-decoration: none;
}
ul a{
    color: black;
    text-decoration: none;

}
abbr{
    text-decoration: none;
}
